@font-face {
    font-family: quicksand;
    src: url('../font/Quicksand-VariableFont_wght.ttf') format('truetype');
}
@font-face{
    font-family: Dela-Gothic-One;
    src: url('../font/DelaGothicOne-Regular.ttf') format('truetype');
}
@font-face{
    font-family: chonburi;
    src: url('../font/Chonburi-Regular.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
}
#body{
    display: flex;
}
#menu-ul{
    list-style: none;
    overflow: hidden;
    padding: 0;
}
#menu-ul li{
    border-radius: 5px;
    border: #0C0A0A solid 3px;
    background-color: #fbb8d1;
    margin-bottom: 4px;
    width: auto;
    height: 45px;
    line-height: 40px;
    padding: 0 1em;
}

a{
    text-decoration: none;
    font-family: quicksand;
}
#home-container{
    width: 100%;
    margin: auto;
    display: inline-block;
}
.content-table{
    /* display: flex; */
    /* flex-direction: column-reverse; */
    align-items: center;
    margin-left: 20px;
}
#menu-ul li a {
    text-decoration: none;
    color: #0C0A0A;
    font-weight: bold;
    display: block;
}
#menu-ul li:hover {
    background: #f1f1f1;
}
.h3-content{
    margin-block: 10px;
    text-align: center;
    font-family: Dela-Gothic-One;
    font-size: 35px;
}

#count-user{
    margin-block: 20px;
    font-family: quicksand;
    font-weight: bold;
    font-size: 20px;
}

header{
    width: 20%;
}

table{
    width: 90%;
    font-family: quicksand;
    text-align: center;
    font-size: 20px;
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
}
th{
    background-color: #91C8E4;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
table th, table td{
    border: 1px solid #ddd;
    padding: 5px;
}
.btn-clk{
    background: lightblue;
    font-size: 20px;
    font-family: quicksand;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    margin-block: 10px;
}
.btn-clk:hover{
    background-color: lightblue;
    color: white;
}

.a-detail{
    color: cadetblue;
    font-weight: bold;
}
.a-detail:hover{
    color: black
}
.content-detail{
    font-size: 20px;
    font-family: quicksand;
    font-weight: 600;
    width: 60%;
    border: 2px solid;
    border-radius: 30px;
    padding: 20px;
    margin: auto;
}
#pattern{
    height: 45px;
    display: flex;
}
.flex-left{
    width: 20%;
}
.flex-right{
    width: 100%;
    background-color: #fbb8d1;
    text-align: right;
}

#ten-prf{
    display: flex;
}
