@font-face {
    font-family: quicksand;
    src: url('../font/Quicksand-VariableFont_wght.ttf') format('truetype');
}
@font-face{
    font-family: Dela-Gothic-One;
    src: url('../font/DelaGothicOne-Regular.ttf') format('truetype');
}
@font-face{
    font-family: chonburi;
    src: url('../font/Chonburi-Regular.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
}

body{
    background-color: #FFF6F0;
    font-family: "QuickSand", sans-serif;
    max-width: 100%;
    text-align: center;
}

/* CSS cho ô vuông "Hồi âm" */
.tieude {
    margin: 0 auto;
    width: 200px;
    height: 60px;
    background-color: pink;
    border: 2px solid black;
    font-weight: 500;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: quicksand;
    font-size: 20px;
}

/* Danh sách các bức thư */
#traloi{
    list-style: none;
}

/* Tiêu đề với 2 chữ "Hồi âm" */
.hoiam {
    font-weight: bold;
    text-align: center;
}

/* Nội dung phản hồi */
.traloi {
    width: 1000px;
    margin: 5px auto;
    padding: 10px;
    border: 3px solid black;
    border-radius: 20px;
    text-align: left;
}

/* Tiêu đề nội dung phản hồi */
.traloi .title {
    font-weight: bold ;
}


header{
    margin: 0;
    padding: 0;
    background-color: #FFF6F0;
}

#menu-ul{
    height: 60px;
    list-style: none;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
}
#menu-ul a{
    text-decoration: none;
    display: block;
    color: #FAA5C4;
    font-size: 140%; 
    font-family: quicksand;
    font-weight: bold;
    text-shadow: -1px 0 #B3ACA8, 0 1px #B3ACA8, 1px 0 #B3ACA8, 0 -1px #B3ACA8;
}
.menu-content{
    display: block;

}
#menu-ul a:hover{
    color: #F54B89;
}
#logo{
    height: 60px;
}
#lg_cr{
    position: static;
}
#img-user{
    height: 50px;
}